{% extends 'base.html' %}
{% load crispy_forms_tags humanize %}


{% block title %}
Delete Retail Car
{% endblock title %}


{% block content %}
<h3>Are you sure you want to delete this car?</h3>
<p>Name: {{car}}</p>
<p>Selling price per car: ${{car.retail_price|intcomma}}</p>

<p>Cost price per car: ${{car.cost_price|intcomma}}</p>
<p>{{car.amount}} in stock</p>

<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-50">Delete</button>
    </div>
</form>
{% endblock content %}